$container-width: 940px;

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-size: 16px;
	line-height: 1.42;
	font-family: 'ubuntulight', Helvetica, sans-serif;
	color: $black;
	-webkit-font-smoothing: antialiaced;
}

.container {
	margin: 0 auto;
	width: $container-width;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	min-width: $container-width + 20px;
}

.maincontent {
	height: 100%;
}

.section {
	height: 100%;
	height: 100vh;
	min-height: 650px;
}


.section__title {
	font-size: 72px;
    font-family: 'gagalinregular';
    color: $yellow;
}


ul {
    padding: 0;
    margin: 0;
}

li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: normal;
}

p {
	padding: 0;
	margin: 0;
}

footer {
	min-width: $container-width + 20px;	
}

* {
	box-sizing: border-box;
}

.nav__list::before, 
.menu-acco::before, 
.order__form::before, 
.order__form-row::before, 
.reviews__list::before, 
.team-acco__content::before, 
.nav__list::after, 
.menu-acco::after, 
.order__form::after, 
.order__form-row::after, 
.reviews__list::after, 
.team-acco__content::after {
	content: "";
	display: table;
}

.nav__list::after, 
.menu-acco::after, 
.order__form::after, 
.order__form-row::after, 
.reviews__list::after, 
.team-acco__content::after {
	clear: both;
}