.burgers {
	background: linear-gradient(to bottom, #f9b43b 0%, #eb8c38 40%, #eb8c38 60%, #eb8c38 60%, #f9b43b 100%);
}

.burgers__content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.burgers .container::before, .burgers .container::after {
	//content: "";
	//display: table;
}

.burgers .container::after {
	//clear: both;
}

.section__title_white {
    color: #fff;
    margin-bottom: 15px;
}

.burgers-slider__btn_prev {
    transform: rotate(90deg);
    left: -50px;
    top: 50%;
}

.burgers-slider__btn_next:hover .burgers-slider__arrow {
    position: relative;
    top: -10px;
}

.burgers-slider__btn_prev:hover .burgers-slider__arrow {
    position: relative;
    top: -10px;
}

.burgers-slider__btn_next {
    transform: rotate(-90deg);
    right: -50px;
    top: 50%;
}

.burgers-slider__btn {
	position: absolute;
}

.burgers-slider__item {
    position: relative;
    padding-bottom: 85px;
}

.ingredients__table-icon-image {
    background-image:url('../img/sprite/sprite_menu.svg');
    background-repeat:no-repeat;
}

.burgers-slider {
    position: relative;
}

.ingredients {
    display: block;
    width: 90px;
    height: 90px;
    position: absolute;
    top: -60px;
    left: 0;
    background: rgba(227, 80, 40, 0.4);
    border-radius: 5px;
    transition: .3s;
    z-index: 10;
}

.ingredients:hover {
	background: $orange;
}

.ingredients__icon {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ingredients__burger-icon {
	background-image: url("../img/icons/burger.svg");
	background-size: cover;
	background-position: center center;
	width: 40px;
	height: 40px;
	margin-bottom: 10px;
}

.ingredients__icon-text {
	font-family: 'gagalinregular';
	font-size: 14px;
	color: #fff;
}

.icon-beef {
	background-position:0 0;
	width: 44px;
	height: 39px;
}

.icon-buns {
	background-position:0 -39px;
	width: 48px;
	height: 30px;
}

.icon-cheese {
	background-position:0 -69px;
	width: 38px;
	height: 34px
}

.icon-cucumber {
	background-position:0 -103px;
	width: 42px;
	height: 38px;
}

.icon-salad {
	background-position:0 -141px;
	width: 38px;
	height: 39px;
}

.icon-sauce {
	background-position:0 -180px;
	width: 40px;
	height: 43px;
}

.ingredients__dropdown {
	padding: 20px;
    background: #fef8ec;
    position: absolute;
    width: 270px;
    left: -9999px;
    border-radius: 7px;
    opacity: 0;
    transition: opacity .3s;
    z-index: 10;
}

.indredients__table {
	width: 100%;
}

.ingredients__table-cell {
    vertical-align: middle;
    padding: 8px 0;
}

.ingredients:hover .ingredients__dropdown {
    left: 100%;
    opacity: 0.9;
}

.burgers-weight {
    position: absolute;
    bottom: 50px;
    left: 0;
    opacity: .5;
}

.burgers-weight__measure {
	background-image: url("../img/icons/kkal.svg");
	position: relative;
	width: 60px;
	height: 60px;
}

.burgers-weight__amount {
	position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    font-family: 'gagalinregular';
    color: #fff;
}

.burgers-weight__title {
    font-size: 14px;
    font-family: 'gagalinregular';
    color: #fff;
    text-align: center;
}

.burgers-slider__item:before,
.burgers-slider__item:after {
    content: "";
    display: table;
}

.burgers-slider__item:after {
    clear: both;
}

.burgers-slider__left {
    display: inline-block;
    width: 50%;
    margin-left: -35px;
    height: 356px;
    vertical-align: bottom;
}

.burgers-slider__pic {
    display: inline-block;
    max-width: 100%;
}

.burgers-slider__right {
    display: inline-block;
    width: 50%;
    height: 356px;
    vertical-align: center;
}

.burgers-slider__right .section__title {
    line-height: 1em;
}

.burgers-slider__text {
    margin-bottom: 15px;
    font-family: 'ubuntulight';
    font-size: 14px;
    color: #fff;
    line-height: 1.8;
    margin-top: 25px;
}

.burgers-slider__price {
    display: inline-block;
    vertical-align: middle;
    font-family: 'gagalinregular';
    color: $orange;
}

.burgers-slider__price-amount,
.burgers-slider__price-measure {
    display: inline-block;
    line-height: 1;
}

.burgers-slider__price-amount {
    font-size: 72px;
}

.burgers-slider__price-measure {
    font-size: 30px;
}

.burgers-slider__buy {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 30px;
}

.burgers-slider__item {
    display: inline-block;
    left: 0;
}

.burgers-slider__left {
    width: 470px;
    margin-left: 0;
}

.burgers-slider__right {
    width: 470px;
    white-space: normal;
}

.burgers-slider__list {
    width: 940px;
    overflow: hidden;
    white-space: nowrap;
}