.menu {
	background: url(../img/background/menu.jpg) 50% no-repeat;
    background-size: cover;
    position: relative;
}

.menu-acco {
	position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.menu-acco__item {
	float: left;
	height: 100%;

	&_active {
		.menu-acco__desc {
			color: $yellow;
		}

		.menu-acco__content {
			width: 550px;
		}
	}
}

.menu-acco__trigger {
	height: 100%;
	display: block;
	width: 80px;
	float: left;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-decoration: none;
    position: relative;
}

.menu-acco__desc {
	font-family: 'gagalinregular';
	font-size: 40px;
	position: absolute;
	top: 50%;
	height: 80px;
	margin-top: -40px;
	white-space: nowrap;
	width: 650px;
	color: #fff;
	left: 50%;
	margin-left: -312px;
	transform: rotate(-90deg);
	text-align: center;
}

.menu-acco__content {
	height: 100%;
    float: left;
    background: rgba(47, 50, 52, 0.93);
    width: 0;
    overflow: hidden;
}

.menu-acco__text {
	padding: 10% 7%;
    font-family: 'ubuntulight';
    font-size: 14px;
    color: #fff;
    line-height: 1.8;
	width: 550px;
}