.team {
	background: url(../img/background/team.jpg) 50% no-repeat;
    background-size: cover;
    position: relative;
}

.team__section {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 50%;
	background: rgba(#2f3234, .93%);
	padding: 5% 2% 0% 7%;
}

.team .section__title {
	margin-bottom: 12%;
}

.team-acco {
	padding-left: 17px;
}

.team-acco__item {
	margin-bottom: 40px;
}

.team-acco__trigger {
	color: #fff;
    font-size: 14px;
    font-family: 'gagalinregular';
    text-decoration: none;
    position: relative;
    display: block;

    &:before {
    	content: "";
    	display: block;
    	position: absolute;
    	left: -19px;
    	top: 8px;
    	width: 0;
    	height: 0;
		border-top: 7px solid $yellow;
    	border-left: 5px solid transparent;
   	 	border-right: 5px solid transparent;
    	border-bottom: 0px solid transparent;
    	-webkit-transform: rotate(0deg);
    	transform: rotate(0deg);
    	-webkit-transition: .3s;
    	transition: .3s;
    }
}

.team-acco__item_active {
	.team-acco__content {
		display: block;
	}

	.team-acco__trigger {
		color: $yellow;

		&:before {
			transform: rotate(-180deg);
		}
	}
}

.team-acco__content {
	padding-top: 14px;
	display: none;
}

.team-acco__pic {
	float: left;
    //text-align: center;
    width: 30%;
}

.team-acco__img {
	display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.team-acco__text {
	float: left;
    width: 70%;
    font-size: 14px;
    color: #fff;
}

.team-acco__title {
	font-family: 'ubuntubold';
    margin-bottom: 14px;
}

.team-acco__desc {
	font-family: 'ubuntulight';
}

